body {
    background-color: rgb(14, 17, 22);
}

p.infos{
    color: white;
    text-align: left;
}

div.bold{
    font-weight: bold;
    font-style: italic;
}

div.space{
    width: 150px;
}

h1{
    color: aqua;
}

.col-mt-3 {
    display: flex;
    flex-wrap: wrap; /* Standardwert = nowrap */
  }
  
.col-mt-3 {
    flex-basis: 25%;

  }

